{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}
  <h2>{{ expense.description }}</h2>
  <p><strong>Total Amount:</strong> {{ expense.total_amount }}</p>
  <p><strong>Date:</strong> {{ expense.date }}</p>
  <p><strong>Category:</strong> {{ expense.get_category_display }}</p>

  <h3>Contributors</h3>
  <ul>
    {% for participant in participants %}
      <li>{{ participant.user }}: Paid {{ participant.amount_paid }}</li>
    {% empty %}
      <li>No contributors yet.</li>
    {% endfor %}
  </ul>

  <h3>Contribute</h3>
    <p>You should pay: {{ splitwise }}</p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Contribute</button>
  </form>
{% endblock %}
