<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Soham901</h5>
        <p>A versatile starting point for your Django projects.</p>
      </div>
      <div class="col-md-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="{% url 'core:home' %}">Home</a>
          </li>
          <li>
            <a href="{% url 'core:about' %}">About</a>
          </li>
          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'core:dashboard' %}">Dashboard</a>
            </li>
          {% endif %}
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Contact</h5>
        <p>
          Email: <a href="mailto:soham.saga@gmail.com">soham.saga@gmail.com</a><br />Phone: <a href="tel:+91 90166 07937">+91 90166 07937</a>
        </p>
      </div>
    </div>
    <hr />
    <div class="footer bg-dark text-white py-4 rounded-4">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="mb-2">
              &copy;{% now 'Y' %}{{ ' ' }}Soham901. All rights reserved.
            </p>
            <div>
              <a href="https://x.com/soham901x" class="text-white me-3"><i class="bi bi-twitter-x"></i></a>
              <a href="https://linkedin.com/in/soham-sagathiya" class="text-white me-3"><i class="bi bi-linkedin"></i></a>
              <a href="https://github.com/soham901" class="text-white"><i class="bi bi-github"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
