<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand fw-bold" href="{% url 'core:home' %}">Soham901</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:home' %}">Home</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'demo:item_list' %}">Items</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'core:dashboard' %}">Dashboard</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:about' %}">About</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user.name }}</button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{% url 'accounts:profile' %}">Profile</a>
              </li>
              <li>
                <a class="dropdown-item text-danger" href="{% url 'accounts:logout' %}">Logout</a>
              </li>
            </ul>
          </div>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:signup' %}">Sign Up</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
