.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
}

.toggle-password:focus {
    outline: none;
}

.toggle-password i {
    font-size: 16px;
    color: #6c757d;
}
